
@{
    ViewBag.Title = "chi tiết";
}
<div class="bg-breadcrumb">
    <div class="container">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")"><i class="fal fa-home mr-1"></i> Trang chủ</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("ArticleCategory", new {  url = Model.Article.ArticleCategory.Url })">@Model.Article.ArticleCategory.CategoryName</a></li>
            <li class="breadcrumb-item active" aria-current="page"> @Model.Article.Subject</li>
        </ol>
    </div>
</div>
<div class="container py-lg-4 py-3">
    <div class="row">
        <div class="col-sm-12 col-lg-8 pr-lg-0">
            <div class="box-border content-detail">
                <h1 class="subject"> @Model.Article.Subject</h1>
                <span class="calendar"><i class="fal fa-calendar-alt mr-1"></i> @Model.Article.CreateDate.ToString("dd/MM/yyyy")</span>
                @if (Model.Article.Description != null)
                {
                    <div class="sapo-detail">
                        @Model.Article.Description
                    </div>
                }
                @if (Model.Article.Body != null)
                {
                    @Html.Raw(Model.Article.Body)
                }
                <hr />
                <ul class="ul-reset share mt-3 mt-lg-4">
                    <li>Chia sẻ: </li>
                    <li><button onclick="window.open('https://www.facebook.com/sharer.php?u='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title));return false"><i class="fab fa-facebook-f"></i></button></li>
                    <li><button class="twitter" onclick="window.open('https://twitter.com/intent/tweet?url='+encodeURIComponent(location.href)+'&amp;text='+encodeURIComponent(document.title));return false"><i class="fab fa-twitter"></i></button></li>
                    <li><button class="instagram" onclick="window.open('https://www.instagram.com/?url='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title));return false"> <i class="fab fa-instagram"></i></button></li>
                    <li><button class="linkedin" onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url='+encodeURIComponent(location.href)+'&amp;t='+encodeURIComponent(document.title));return false"><i class="fab fa-linkedin-in"></i></button></li>
                </ul>
                <hr />
                <div class="fb-comments" data-href="@Request.Url" data-numposts="10" data-width="100%"></div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4 pl-lg-5">
            @Html.Action("MenuArticle")
        </div>
    </div>
</div>